.grouping{
    margin-left:20px;
    margin-right:20px;
}

.grouping-header{
    color: var(--header);
    font-size: 20px;
    text-transform: uppercase;
    padding-left:20px;
}

.add-group-card {
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #f4f4f4;
    height: 110px;
    color: var(--black);
    font-size: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.course-card {
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #63aded;
    color: var(--black);
    font-size: 1rem;
    padding-left: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.groups-card{
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #96C6FA;
    height: 80px;
    color: var(--black);
    padding-left: 20px;
    border-radius: 5px;
}

#detailsDisplay{
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2);
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    height: 80px;
    color: var(--black);
    padding-left: 20px;
    border-radius: 5px;
}

.add-group-header{
    font-size: 20px;
    color:var(--black);
    padding-top:10px;
}

.course-card-header{
    font-size: 20px;
    color:var(--black);
    margin-bottom: 0%;
    display: inline-block;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

.caption{
    font-size: 15px;
    color: rgb(97, 97, 97);
    font-weight: bolder;
    margin-left:0px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-links{
    cursor: pointer;
    padding: 6px 18px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
}

#group-links{
    color: white;
    text-decoration: none;
    text-align:center;
}

.group-add-section{
    display: flex; 
    align-items: baseline; 
    gap: 10px;
}

.group-details-section{
    display: flex;
    align-items: center; 
    overflow: hidden;
    justify-content: space-between;
}

.course-heading-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 15px;
}

.download-button {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    margin-top:10px;
    height:20px;
    display: inline-flex; /* Inline-flex for alignment with icon */
    align-items: center;
}

.fa-solid.fa-circle-down{
    padding-left:10px;
}

.download-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.download-button:active {
    background-color: #004085;
    transform: scale(1);
}

#additional-group-button{
    background-color: #0F6CBD;
    margin-left:15px;
    align-items: baseline;
}

#additional-group-button:hover{
    background-color: #034279;
}

#specialization-button{
    background-color: #750B1C;
}

#specialization-button:hover{
    background-color: #550210;
}

#year-button{
    background-color: #5C2E91;
}

#year-button:hover{
    background-color: #3c1668;
}

#expand-button{
    color: var(--black);
    font-size: 20px;
    margin-right: 20px;
    cursor:pointer;
    text-align: center;
}

.action-buttons{
    display: inline-block;
    gap: 10px;
    /* float:right; */
    padding-right: 50px;
}

.action-button{
    background-color: var(--header);
    border-radius: 5px;
    padding:10px 10px;
    margin-left:10px;
}

.fas.fa-edit,
.fa.fa-trash,
.fa-solid.fa-circle-plus{
    padding-left:5px;
}

.expand-button{
    padding:0px,0px;
    margin:0px,0px;
    display: inline-block;
}

#group-caption{
    margin:0px;
}

#expand-button:hover{
    color: var(--header);
}

.popup {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.popup-content {
    background-color: #fff;
    margin: 10% auto; /* Center the popup */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.popup-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: small;
    display: inline-block;
}

form input,
form select {
    margin-bottom: 15px;
    padding: 5px;
    border: none; 
    border-bottom: 2px solid grey; 
    border-radius: 0; 
    outline: none; 
    transition: border-color 0.3s;
    background-color:transparent ;
    width: calc(100%);
}

form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px; 
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

#detailsDisplay {
    margin-top: 20px;
}

#detailsDisplay h3 {
    color: #333;
}

#existingOptionSection,
#newOptionSection{
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px 20px;
    background-color: #bddefa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.success-message {
    color: green;
    font-weight: bold;
    font-size: 10px;
}