{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>{% block title %}Unit Set Builder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Including index.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="/app/static/js/main.js"></script>  
</head>
<body>
    <div id="greeting" class="greeting-message"></div>
    <!-- Curriculum Management System CAIDi Section -->
     <div class="home-card">
        <div class="app-name">
            <h1>Welcome To The Unit Set Builder App</h1>
            <p>Curriculum Management System ( CAIDI ) is a platform designed to streamline the administration of academic programs.
            The Unit Set Builder app is a user friendly experience for one of the complex component of Caidi.</p>
            <p>Key features of Unit Set Builder typically include:</p>
            <ul><li><strong>Course Management: </strong>Simplifying the process of creating and modifying course offerings, creating sequences and unit sets.</li>
                <li><strong>Reporting and Analytics: </strong>Generating insights into curriculum effectiveness, course offerings and structure.</li>  
                <li><strong>Curriculum Mapping: </strong>Ensuring courses align with institutional learning outcomes and goals.</li></ul>
            <p>Overall, the Unit Set Builder app enhances the educational experience by streamlining administrative processes and fostering better communication among faculty and students.</p>
            <button class="home-button-links"><a href="{{ url_for('main.course') }}">Create A Unit Set Builder >> </a></button>
        </div>
     </div>
    
</body>
{% endblock %}
