{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div style="background-image: url('https://res.cloudinary.com/dynbwiv3t/image/upload/v1725525326/UWA_-__University_of_Western_Australia-4282_hupk9d.jpg'); background-size: cover; background-position: center; height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div class="card p-4 shadow" style="width: 400px; background-color: white; border-radius: 10px;">
            <img src="https://res.cloudinary.com/dynbwiv3t/image/upload/v1725178833/uwalogo_transparent_pdm2v9.png" alt="UWA Logo" class="logo mx-auto d-block" style="height: 100px; margin-bottom: 20px;">
            
            <h1 class="text-center mb-4">Log in to your account</h1>
            
            <form id="login-form">
                <div class="mb-3">
                    <label for="username" class="form-label">User Account</label>
                    <input type="text" placeholder="Enter your username" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Enter your password" class="form-control" id="password" name="password" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
            <p id="login-message" class="text-center mt-3"></p>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#login-form').on('submit', function(event) {
                event.preventDefault();

                const username = $('#username').val();
                const password = $('#password').val();

                $.ajax({
                    url: '/login',
                    type: 'POST',
                    contentType: 'application/json', // 设置Content-Type为application/json
                    data: JSON.stringify({
                        username: username, 
                        password: password
                    }),
                    success: function(response) {
                        $('#login-message').text(response.message);
                        if (response.status === "success") {
                            alert("Login successful! Your email is : " + response.email);
                            window.location.href = "/";
                        }
                    },
                    error: function(xhr) {
                        $('#login-message').text(xhr.responseJSON.message);
                    }
                });
            });
        });
    </script>
{% endblock %}
