{% extends "base.html" %}
{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Set Checklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unit_set.css') }}">
    <script src="{{ url_for('static', filename='js/unit_set.js') }}"></script>

    <div class="container">
        <h1>{{ course['title'] }}</h1>
        {% if type == 'unitset' %}
            <h2>{{ item['title'] }}</h2>
        {% elif type == 'specialisation' %}
            <h2>{{ item['name'] }}</h2>
        {% endif %}

        
        <div class="group-selector">
            <p>Select the Group you want to add:</p>
            <button class="group-btn core">Core</button>
            <button class="group-btn conversion">Conversion</button>
            <button class="group-btn option">Option</button>
            <button class="group-btn customised">Customised</button>
        </div>

        <div class="instructions">
            <p>Drag this icon   <img src="{{ url_for('static', filename='image/drag_group.png') }}" alt="Drag Icon" class="icon">   to adjust the order</p>
        </div>

        <div class="unit-set">
            <!-- Place holder for groups -->
            {% for group in groups %}
            <div class="unit-group {{group.group_type}}-unit" data-group-id="{{ group.id }}">
                <div class="group-header">
                    <h3>{{ group.group_type }} unit</h3>
                    <div class="group-icons">
                        <img src="static/image/drag_group.png" alt="Drag Group Icon" class="drag-group-icon" draggable="true">
                        <img src="static/image/add_unit.png" alt="Add Unit Icon" class="add-unit-icon">
                    </div>
                </div>
                <p>Take all units from this group (24 points)
                    <img src="static/image/edit.png" alt="Edit Icon" class="edit-icon">
                </p>
                <!-- Units will be added here -->
                {% for ele in group.group_elements %}
                <div class="unit">
                    <span class="unit-name">{{ele.unit.name}} (ID: {{ele.unit.id}})</span>
                    <span class="unit-actions">
                        <button class="move-btn"><img src="/static/image/drag_unit.png" alt="Move Icon"></button>
                        <button class="remove-btn" data-unit-id="unit-{{ele.id}}"><img src="/static/image/delete_unit.png" alt="Remove Icon"></button>
                    </span>
                </div>
                {% endfor %}
                <img src="static/image/bin.png" alt="Delete Section Icon" class="bin-icon">
            </div>
            {% endfor %}
        </div>
    </div>






  <!-- Add Unit Modal -->
<div id="addUnitModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" aria-label="Close">&times;</span>
        <h2>Add Unit</h2>
        <input type="text" placeholder="Search for a unit" class="search-input">

        <!-- Container for inline search results -->
        <div class="search-results-container"></div>

        <button class="save-btn">Save</button>
    </div>
</div>

<!-- Embedding data into a script tag -->
<script type="text/javascript">
    const courseData = {{ course | tojson | safe }};
    const itemData = {{ item | tojson | safe }};
    const itemType = "{{ type }}"
</script>

    {% endblock %}